:root {
    --first-text-color: #212121;
    --second-text-color: #757575;
    --accent-color: #2196f3;
    --header-text-color1: #ffffff;
    --header-text-color2: #212121;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
button {
    cursor: pointer;
}
body {
    font-family: 'Roboto';
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
/*------------HEADER---------------*/
.header-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.header-navigation {
    display: flex;
    align-items: center;
}
.header-list {
    display: flex;
}

.header-link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--header-text-color2);
}
.header-connect {
    margin-left: auto;
}
.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}
.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}
.header-mail:hover,
.header-mail:focus {
    color: var(--accent-color);
}
.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}
.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}
.logo-link {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
    list-style: none;
}
.logo-text {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    text-decoration: none;
    list-style: none;
}
/* ---------------HERO--------------- */
.hero {
    background-color: #2f303a;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--header-text-color1);
}
.button {
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--header-text-color1);
}
.characteristic-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-text-color2);
}
.characteristic-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}
/* ----------------ABOUt US----------*/
.business {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
}
.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
}
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
}
.team-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}
.footer {
    background: #2f303a;
}
.footer-logo-link {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
    list-style: none;
}
.footer-logo-text {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-text-color1);
    text-decoration: none;
    list-style: none;
}
.address {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--header-text-color1);
}
.footer-mail {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-mail:hover,
.footer-mail:focus {
    color: var(--accent-color);
}
.footer-tel {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-tel:hover,
.footer-tel:focus {
    color: var(--accent-color);
}

/*---------------PORTFOLIO-------------*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.menu-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    background: #f5f4fa;
    border-radius: 4px;
}
.menu-button:hover,
.menu-button:focus {
    color: var(--header-text-color1);
    background-color: var(--accent-color);
}
/*---------------PORTFOLIOLIST-------------*/
.portfolio-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--first-text-color);
}
.portfolio-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}
